@import '~normalize.css/normalize.css';
@import './base';
@import './media';
@import './fonts';

// custom styles

html {
  height: 100%;
}

body {
  min-height: 100%;
}

p,
li {
  font-size: 14px;
  line-height: 24px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
.navbar {
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 55px;
  position: fixed;
  display: flex;
  top: 0;
  align-items: center;
}
.nav-items {
  width: 938px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: white;
}
.section-a-banner {
  width: 100%;
  height: 500px;
  background: black;
  display: flex;
  justify-content: center;
}

.section-b-banner {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.section-b-banner-img {
  object-fit: cover;
  width: 100%;
}

.section-a-banner-img {
  align-self: center;
}

.section-a-content {
  width: 755px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.section-a-content-text-wrapper {
  max-width: 380px;
}

.section-a-illustration-wrapper {
  display: flex;
}

.section-a-illustration {
  align-self: center;
}

.section-b-content {
  width: 755px;
  margin: 100px auto;
}
.section-b-resume {
  display: flex;
  justify-content: space-between;
}

.section-b-resume-text {
  padding-left: 40px;
}

.section-b-footer {
  height: 250px;
  overflow: hidden;
}

.section-b-footer-img {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 768px) {
  p,
  li {
    font-size: 30px;
    line-height: initial;
  }

  .section-a-content-text-wrapper {
    max-width: initial;
    text-align: center;
  }

  .section-a-illustration-wrapper {
    display: none;
  }

  .section-b-resume {
    flex-direction: column;
  }
}
